{% extends "userapp/base.html" %}

{% block head %}
    <title>Login</title>
{% endblock head %}
{% block body %}
    <div class = 'jumbotron'>
        <h1>Log in</h1>
        
        <form action="{% url 'userapp:login' %}" method = 'POST'>
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name = 'username' placeholder="username">
            <label for="password">Password</label>
            <input type="text" name = 'password'>
            <input type="submit" value = 'Log in'>
        </form>
    </div>
{% endblock body %}